# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# 微信小程序 / uniapp 项目配置文件（本地私有）
project.config.json
project.private.config.json